http:
  routers:
    service:
      entryPoints:
        - websecure
      rule: Host(`service.local.example.com`)
      middlewares:
        - authentik@docker
      service: service
    service-auth:
      entryPoints:
        - websecure
      rule: HostRegexp(`service.local.rushil.uk`) && PathPrefix(`/outpost.goauthentik.io/`)
      service: authentik@docker

  services:
    service:
      loadBalancer:
        servers:
          - url: https://X.X.X.X:YYYY
        passHostHeader: true
